@media (max-width: 994px) {
  #weblog {
    .nav-item {
      > ul {
        position: relative;
        width: 100%;
        background: #1f2024;
        border: none;
        box-shadow: none;
        li {
          a {
            border: none !important;
          }
          ul {
            position: relative !important;
            width: 100% !important;
            background-color: #1f2024 !important;
            box-shadow: none;
            right: 0;
          }
        }
      }
    }
  }
  #navbarTogglerDemo03 {
    overflow-y: scroll;
    position: fixed;
    background: #1f2024;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    transform: translateX(-100%);
    transition: 0.3s;
    .fz-12 {
      font-size: 16px !important;
    }
    i {
      color: white !important;
    }
    a {
      color: white !important;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    .blue-btn {
      background: none !important;
      justify-content: start !important;
    }
  }
}

@media (min-width: 764px) {
}

@media (min-width: 994px) {
  #mainpage main .main-section-top {
    background-size: contain;
    height: 34vw;
  }

  #weblog .seccond-slider-img figcaption h2,
  #weblog .first-slider-img figcaption h2 {
    font-size: 33px;
    font-weight: 900;
  }

  #weblog .seccond-slider-img,
  #weblog .first-slider-img {
    max-height: 450px;
  }

  .mega-menu > ul > li > ul > li div {
    display: flex;
  }

  .mega-menu > ul > li {
    background-color: #e0e3ec;
  }

  .user-profile-sidebar {
    max-width: 225px;
    margin: 0 15px;
  }

  .mega-menu {
    padding: 15px 0;
    transition: 0.4s;
    border: 1px solid white;
    padding: 12px;
    border-radius: 5px;
    &:hover {
      background-color: #f9f9fb;
      border-color: #e0e3ec;
      > ul {
        display: block;
      }
    }
    > ul {
      height: auto;
      min-height: 40vh;
      max-height: 95vh;
      overflow-y: auto;
      overflow-x: hidden;
      border-top: 1px solid #e0e3ec;
      transition: 0.3s;
      width: 100%;
      background-color: white;
      position: absolute;
      right: 0;
      top: 60px;
      display: none;
      > li {
        &:hover {
          color: #00737c;
          background-color: #fff;
          > ul {
            display: flex;
          }
        }
        font-weight: 400;
        cursor: pointer;
        color: #00737c;
        background-color: #e0e3ec;
        color: rgb(30, 30, 30);
        width: 259px;
        padding: 15px 20px;
        > ul {
          position: absolute;
          z-index: 4;
          top: -20px;
          right: 250px;
          width: 70%;
          margin-top: 15px;
          display: none;
          > li {
            a {
              color: #707070;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
