@charset "UTF-8";
.object-fit {
  -o-object-fit: cover;
     object-fit: cover;
}

#weblog footer {
  background-color: #e0e3ec;
}
#weblog footer * {
  color: black;
}
#weblog footer .social-list {
  max-width: 310px;
}
#weblog footer .social-list a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  justify-content: center;
  font-size: 20px;
  background-color: #00737c;
  margin: 0 5px 7px;
}
#weblog footer .social-list a i {
  color: white;
}
#weblog footer .footer-items-bullet h3 {
  position: relative;
  font-size: 16px;
  font-weight: 900;
}
#weblog footer .footer-items-bullet h3::after {
  content: "";
  width: 50px;
  height: 1.6px;
  background-color: #009ca7;
  bottom: 0;
  right: 0;
  position: absolute;
}
#weblog footer .footer-items-bullet ul {
  list-style-type: none;
}
#weblog footer .footer-items-bullet ul li {
  padding: 0 0 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#weblog footer .footer-items-bullet ul li:hover::before {
  background-color: #009ca7;
}
#weblog footer .footer-items-bullet ul li span {
  font-size: 9px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
#weblog footer .footer-items-bullet ul li a {
  font-weight: bolder;
  font-size: 13px;
}
#weblog footer .footer-items-bullet ul li::before {
  transition: 0.3s;
  z-index: 10;
  content: "";
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  width: 7px;
  outline: 1px solid rgba(128, 128, 128, 0.196);
  height: 7px;
  border-radius: 50%;
  background-color: #c2c5ce;
}
#weblog footer .footer-items-bullet ul li::after {
  content: "";
  position: absolute;
  right: -17px;
  background-color: #c2c5ce;
  width: 1px;
  height: 120%;
}
#weblog footer .footer-items ul {
  list-style-type: disc;
  padding: 0;
  padding-right: 15px;
}
#weblog footer .footer-items ul li {
  font-size: 12px;
  font-weight: normal;
  margin: 15px 0;
}
#weblog footer .footer-items h3 {
  position: relative;
  font-size: 16px;
  font-weight: 900;
}
#weblog footer .footer-items h3::after {
  content: "";
  width: 50px;
  height: 1.6px;
  background-color: #009ca7;
  bottom: 0;
  right: 0;
  position: absolute;
}
#weblog .with-end-border {
  position: relative;
}
#weblog .with-end-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: black;
}
#weblog .autoplaySlidePagination h2 {
  font-size: 20px !important;
}
#weblog .autoplaySlidePagination .first-slider-img {
  height: 500px;
}
#weblog .autoplaySlidePagination .swiper-pagination-bullet {
  background-color: #000 !important;
  opacity: 1;
}
#weblog .autoplaySlidePagination .swiper-pagination-bullet-active {
  transform: scale(1.5);
}
#weblog .blogProduct .swiper-pagination-bullet {
  background-color: #000 !important;
  opacity: 1;
}
#weblog .blogProduct .swiper-pagination-bullet-active {
  transform: scale(1.5);
}
#weblog .blogProduct .swiper-button-next {
  top: 40px;
  padding: 0 !important;
  width: 25px;
  height: 25px;
}
#weblog .blogProduct .swiper-button-next::after {
  font-size: 12px !important;
}
#weblog .blogProduct .swiper-button-prev {
  top: 40px;
  padding: 0 !important;
  width: 25px;
  left: 28px;
  right: auto;
  height: 25px;
}
#weblog .blogProduct .swiper-button-prev::after {
  font-size: 12px !important;
}
#weblog .swiper-button-next {
  border-radius: 0;
  left: 0;
  padding: 25px 15px !important;
  background: white;
}
#weblog .swiper-button-prev {
  border-radius: 0;
  right: 0;
  padding: 25px 15px !important;
  background: white;
}
#weblog .seccond-slider-img,
#weblog .first-slider-img {
  max-height: 300px;
  position: relative;
}
#weblog .seccond-slider-img .gray-papper,
#weblog .first-slider-img .gray-papper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  box-shadow: inset 0 -12em 10em rgba(0, 0, 0, 0.55);
}
#weblog .seccond-slider-img .badge-top,
#weblog .first-slider-img .badge-top {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: gray;
  color: white;
  border-radius: 3px;
  font-size: 10px;
  padding: 5px 8px;
  z-index: 23;
}
#weblog .seccond-slider-img figcaption,
#weblog .first-slider-img figcaption {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: white;
  z-index: 22;
}
#weblog .seccond-slider-img figcaption h2,
#weblog .first-slider-img figcaption h2 {
  font-size: 14px;
  font-weight: 900;
}
#weblog .seccond-slider-img figcaption h3,
#weblog .first-slider-img figcaption h3 {
  font-weight: 900;
  font-size: 13px;
  right: 15px;
  margin-left: 5px;
}
#weblog .seccond-slider-img figcaption span,
#weblog .first-slider-img figcaption span {
  font-size: 12px;
}
#weblog .cursore-p {
  cursor: pointer;
}
#weblog header {
  position: relative;
}
#weblog .nav-item {
  position: relative;
}
#weblog .nav-item:hover > ul {
  display: block;
}
#weblog .nav-item a {
  width: 100%;
  height: 100%;
}
#weblog .nav-item > ul {
  position: absolute;
  display: none;
  right: 0;
  width: 160px;
  top: 100%;
  background-color: white;
  border-top: 2px solid #009ca7;
  box-shadow: 0 0 5px rgba(211, 211, 211, 0.616);
}
#weblog .nav-item > ul li {
  position: relative;
}
#weblog .nav-item > ul li a {
  width: 100%;
  height: 100%;
  display: flex;
}
#weblog .nav-item > ul li:hover > ul {
  display: block;
}
#weblog .nav-item > ul li ul {
  position: absolute;
  display: none;
  right: 100%;
  width: 130%;
  top: 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(211, 211, 211, 0.616);
}

.z-index-222 {
  z-index: 222;
}

#singleBlog main {
  background-color: #f9f9fb;
  padding-top: 67px;
}
#singleBlog main .nav-pills .nav-link.active,
#singleBlog main .nav-pills .show > .nav-link {
  background-color: #009ca7 !important;
}
#singleBlog main .nav-link {
  border-radius: 10px 10px 0 0 !important;
}
#singleBlog main .collapse-white .col-auto figure {
  max-width: 160px;
  height: 100%;
}
#singleBlog main .collapse-white .col-auto figure img {
  -o-object-fit: cover;
     object-fit: cover;
}
#singleBlog main .course-intro {
  background-image: url(../img/1.webp) !important;
}

.max-height-initial {
  max-height: initial !important;
}

.teachers figure {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.teachers figure img {
  width: 100%;
  height: 100%;
}

#singleBlog main,
#singleProduct main {
  background-color: #f9f9fb;
  padding-top: 67px;
}
#singleBlog main .white-box h2,
#singleProduct main .white-box h2 {
  margin-bottom: 25px;
}
#singleBlog main .course-intro,
#singleProduct main .course-intro {
  background-image: url(../img/NGN.webp);
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center center;
  height: 450px;
  width: 100%;
  position: relative;
}
#singleBlog main .course-intro .text-main,
#singleProduct main .course-intro .text-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 20000;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(154, 154, 154, 0.496);
}
#singleBlog main .course-intro .text-main h1,
#singleProduct main .course-intro .text-main h1 {
  font-size: 48px;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 1px 2px #000;
}

.z-index-2 {
  z-index: 2;
}

.video-popup {
  position: relative;
}
.video-popup img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70vw;
}
.video-popup .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

header {
  z-index: 80000;
}

#productpage main {
  overflow-x: hidden;
  background-color: #f9f9fb;
  padding-top: 67px;
}
#productpage main .banner {
  background-image: url(../img/prg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: white;
}
#productpage main .modal-full .modal-dialog {
  width: 100%;
  margin: 0;
  max-width: 100%;
}
#productpage main .modal-full .modal-dialog .modal-content {
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  border-radius: 0;
}
#productpage main .procuct-box {
  max-width: 260px;
  margin: 10px;
  position: relative;
}
#productpage main h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 25px 0;
}

.modal .filter-sec {
  max-width: 100%;
}

.bottom--20 {
  bottom: -20px;
}

.translate--50 {
  transform: translateX(-50%);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .pagination-prev,
.pagination .pagination-next {
  font-size: 23px;
  margin: 0 5px;
}
.pagination .pagination-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
}
.pagination .pagination-circle.active {
  background-color: #009ca7;
  color: white;
  border: none;
}

.outline-btn {
  border: 2px solid #00737c;
  color: #00737c;
  display: flex;
  font-size: 16px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.outline-btn:hover {
  background-color: rgba(212, 212, 212, 0.678);
}

.white-box {
  border-radius: 4px;
  border: solid 1px #e0e3ec;
  background-color: #fff;
  padding: 20px;
  font-size: 13px;
}

.anchor-list ul .active {
  margin: 0 0 0 20px;
}
.anchor-list ul .active a {
  background: #f0f1f6;
  color: #009ca7;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anchor-list ul .active .triangle {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 20px solid #f0f1f6;
}
.anchor-list ul li {
  display: flex;
  align-items: center;
}
.anchor-list ul li a {
  color: rgb(39, 39, 39);
  font-size: 13px;
  padding: 8px 12px;
}

#mainpage main {
  background-color: #f9f9fb;
  padding-top: 67px;
}
#mainpage main .main-section-top {
  height: 46vw;
  background-image: url("../img/DSK.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
#mainpage main .main-section-top h1 {
  font-weight: 900;
}
#mainpage .firstProduct {
  width: 100%;
  height: 100%;
}
#mainpage .firstProduct .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainpage .university-sec {
  background: white;
  border: 1px solid lightgray;
  padding: 30px 0 0 30px;
  border-radius: 8px;
}
#mainpage .university-sec .nav-pills .nav-link {
  color: black;
  background: transparent !important;
  background-color: transparent !important;
  border-bottom: 2px solid;
  border-radius: 0;
  margin: 0 10px;
}
#mainpage .university-sec .nav-pills .nav-link.active {
  color: #009ca7;
  border-color: #009ca7;
}

.swiper-button-next,
.swiper-button-prev {
  border: 1px solid lightgray;
  padding: 20px !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.8117647059);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  --swiper-navigation-size: 20px;
  color: black;
  font-weight: 900;
}

.offer {
  width: 35px;
  height: 26px;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(180, 20, 116);
  color: rgb(255, 255, 255);
  font-size: 10px !important;
  display: flex;
  align-items: center;
}

.color-pink {
  color: rgb(180, 20, 116);
}

.color-blue {
  color: #009ca7;
}

.swiper-slide figure img {
  width: 75px;
}
.swiper-slide p {
  font-size: 13px;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 0;
}

.study-box {
  border: 1px solid rgba(211, 211, 211, 0.612);
  border-radius: 5px;
  align-items: center;
  padding: 30px 10px;
}
.study-box > figure {
  width: 40px;
  height: 40px;
}
.study-box > figure img {
  width: 100%;
  height: 100%;
}
.study-box > div {
  margin-right: 10px;
}
.study-box > div h3 {
  font-size: 17px;
  font-weight: 900;
}
.study-box > div p {
  font-size: 12px;
  font-weight: 500;
  margin: 15px 0 0;
}

button {
  border: none;
}

.filter-sec {
  max-width: 290px;
}

.collapse-white {
  border: solid 1px #e0e3ec;
  border-radius: 4px;
}
.collapse-white button {
  width: 100%;
  justify-content: space-between;
  padding: 10px 21px;
  border-radius: 4px;
  border: solid 1px #e0e3ec;
  background-color: #fff;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.collapse-white .card.card-body {
  border: none;
  max-height: 200px;
  overflow-y: auto;
}

.procuct-box {
  max-width: 300px;
  border-radius: 5px;
  padding: 0;
  border: 1px solid lightgray;
  z-index: 2;
}
.procuct-box:hover {
  z-index: 4;
}
.procuct-box:hover .tooltip-white-parent {
  z-index: 5;
  display: flex;
}
.procuct-box .tooltip-white-parent {
  position: absolute;
  width: 140%;
  padding: 20px;
  font-size: 1.25em;
  right: 99%;
  height: 100%;
  display: none;
}
.procuct-box .tooltip-white-parent .tooltip-white {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  font-size: 1.25em;
  border: solid 1px #e0e3ec;
  box-shadow: 1px 2px 3px 1px #e0e3ec;
  right: 8.5%;
}
.procuct-box .tooltip-white-parent .tooltip-white::after {
  content: "";
  position: absolute;
  width: 0;
  left: 100%;
  top: 50%;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #fff;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
}
.procuct-box .tooltip-white-parent .tooltip-white .tooltip-status {
  font-size: 12px;
}
.procuct-box .tooltip-white-parent .tooltip-white .tooltip-status i {
  margin-left: 8px;
}
.procuct-box .tooltip-white-parent .tooltip-white .course-card-extra__title {
  font-size: 18px;
}
.procuct-box .tooltip-white-parent .tooltip-white .course-card-extra__badge {
  display: flex;
  margin-left: 5px;
}
.procuct-box .tooltip-white-parent .tooltip-white .course-card-extra__badge-tri,
.procuct-box .tooltip-white-parent .tooltip-white .course-card-extra__badge-tri--plus,
.procuct-box .tooltip-white-parent .tooltip-white .course-card-extra__badge-tri--hamayesh {
  width: 0;
  height: 0;
  font-size: 0.875em;
  border-top: 1.0416666667em solid transparent;
  border-bottom: 1.1574074074em solid transparent;
  border-right: 1.0416666667em solid #fb7e34;
}
.procuct-box .tooltip-white-parent .tooltip-white .course-card-extra__badge-tri--plus {
  border-right-color: #009ca7;
}
.procuct-box .tooltip-white-parent .tooltip-white .course-card-extra__badge-text {
  padding: 0 10px;
  height: 2.0833333333em;
  font-size: 0.875em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}
.procuct-box .tooltip-white-parent .tooltip-white .background-blue {
  background-color: #009ca7;
}
.procuct-box .tooltip-white-parent .tooltip-white .plus > div {
  color: white;
  font-size: 11px;
  padding: 3px 10px;
}
.procuct-box .tooltip-white-parent .tooltip-white .plus ul i,
.procuct-box .tooltip-white-parent .tooltip-white .plus ul a {
  font-size: 12px;
  color: rgb(34, 34, 34);
}
.procuct-box .tooltip-white-parent .tooltip-white .buy span {
  color: #b41474;
}
.procuct-box .tooltip-white-parent .tooltip-white .buy a {
  background: #009ca7;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
}
.procuct-box .tooltip-white-parent .tooltip-white .master span {
  font-size: 12px;
}
.procuct-box > figure > img {
  width: 100%;
  height: 130px;
}
.procuct-box h6 {
  font-size: 15px;
  color: #009ca7;
  line-height: 27px;
}
.procuct-box p {
  font-size: 12px;
  color: #7d7d7d;
  font-weight: lighter;
}
.procuct-box span {
  font-size: 14px;
  font-weight: bold;
}
.procuct-box strong {
  font-size: 16px;
}
.procuct-box > div figure img {
  width: 90px;
}

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 67px;
  z-index: 10;
  left: 0;
}
.nav-sticky li {
  padding: 15px 10px;
  margin: 5px 10px;
}

.procuct-box-theme {
  background: #003554 !important;
}
.procuct-box-theme h6 {
  color: #db8a40;
}
.procuct-box-theme p {
  color: white;
}
.procuct-box-theme .offer {
  background-color: #db8a40;
  color: white;
}
.procuct-box-theme .color-pink {
  color: #db8a40;
}

.fz-12 {
  font-size: 12px !important;
}

.blue-btn {
  border-radius: 40px;
  color: white;
  background-color: #009ca7 !important;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.bg-lightgray {
  background-color: #e0e3ec;
}

.color-gold {
  color: gold;
}

#dashboard main {
  padding-top: 120px;
}

.user-profile-sidebar {
  border-radius: 5px;
  padding: 20px 0;
  background: #4d4d4d;
  color: #fff;
  margin-bottom: 30px;
}
.user-profile-sidebar .active {
  background: #404040 !important;
}
.user-profile-sidebar .nav-link {
  color: #d9d9d9 !important;
  padding: 13px 30px;
  font-size: 14px;
}
.user-profile-sidebar .nav-link:hover {
  background: #404040 !important;
}

.logo {
  width: 50px;
  height: 40px;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.with-cube::before {
  content: "▪";
  margin-left: 10px;
}

.mega-menu {
  padding: 15px 0;
  transition: 0.3s;
}
.mega-menu:hover > ul {
  display: block;
}
.mega-menu > ul {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #e0e3ec;
  transition: 0.3s;
  width: 320px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.mega-menu > ul > ul > li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  background-color: transparent;
  padding: 10px 23px;
}
.mega-menu > ul > ul > li a {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  margin-right: 10px;
}
.mega-menu > ul > ul > li i {
  font-size: 20px;
}
.mega-menu > ul > li {
  font-weight: 400;
  cursor: pointer;
  color: #00737c;
  color: rgb(30, 30, 30);
  padding: 10px 25px 10px 10px;
}
.mega-menu > ul > li:hover {
  color: #00737c;
  background-color: #fff;
}
.mega-menu > ul > li > ul {
  z-index: 4;
  top: -20px;
  right: 250px;
  display: none;
}
.mega-menu > ul > li > ul > li a {
  color: #707070;
  font-size: 14px;
}
.mega-menu > ul > li > ul > li div {
  display: none;
}

.mega-menu > ul > li > a > * {
  pointer-events: none;
}

header {
  position: fixed;
  background: white;
}
header button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.3em 1.5em;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  color: white;
  font-size: 13px;
  font-weight: 800;
  margin: 0 5px;
  background-color: #009ca7;
  cursor: pointer;
  border-radius: 0.25em;
  transition: background-color 0.5s;
}

.logo-mega-menu {
  border-bottom: 1px solid #dadada;
  margin-bottom: 15px;
}
.logo-mega-menu img {
  width: 150px;
  margin: 40px 15px 20px;
}

.button--orange {
  background-color: #fb7e34;
}

.input-groups {
  border: 1px solid #e0e3ec;
  background-color: #f9f9fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 350px;
}
.input-groups input {
  border: none;
  background: transparent;
  width: 100%;
}
.input-groups i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 900;
  border-right: 1px solid #e0e3ec;
}

footer {
  background-color: #e0e3ec;
}
footer * {
  color: #7d7d7d;
}
footer .inamad {
  width: 85px;
}

.text-gray {
  color: #7d7d7d;
}

.footer-about {
  max-width: 280px;
}
.footer-about > a img {
  width: 150px;
}
.footer-about P {
  font-size: 13px;
  margin-top: 10px;
}

.footer-links ul h4 {
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin-bottom: 16px;
}
.footer-links ul li {
  margin: 4px 0;
}
.footer-links ul li a {
  font-size: 14px;
}

.footer__socially h6 {
  font-size: 13px;
  color: black;
}

.footer__download-button {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: #3d3d3d;
  color: #fff;
  padding: 5px 20px;
  margin-left: 15px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  width: 180px;
  font-size: 13px;
}

.under-footer {
  border-top: 1px solid lightgray;
  font-size: 12px;
}
.under-footer p {
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}/*# sourceMappingURL=style.css.map */