header {
  z-index: 200;
}
#productpage {
  main {
    overflow-x: hidden;
    background-color: #f9f9fb;
    padding-top: 67px;
    .banner {
      background-image: url(../img/prg.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: white;
    }

    .modal-full {
      .modal-dialog {
        width: 100%;
        margin: 0;
        max-width: 100%;
        .modal-content {
        overflow-y: auto;
          width: 100%;
          height: 100vh;
          border-radius: 0;
        }
      }
    }

    .procuct-box {
      max-width: 260px;
      margin: 10px;
      position: relative;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
      margin: 25px 0;
    }
  }
}

.modal {
  .filter-sec {
    max-width: 100%;
  }
}
.bottom--20 {
  bottom: -20px;
}
.translate--50 {
  transform: translateX(-50%);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  .pagination-prev,
  .pagination-next {
    font-size: 23px;
    margin: 0 5px;
  }
  .pagination-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
  }
  .pagination-circle.active {
    background-color: #009ca7;
    color: white;
    border: none;
  }
}

.outline-btn {
  border: 2px solid #00737c;
  color: #00737c;
  display: flex;
  font-size: 16px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(212, 212, 212, 0.678);
  }
}

.white-box {
  border-radius: 4px;
  border: solid 1px #e0e3ec;
  background-color: #fff;
  padding: 20px;
  font-size: 13px;
}

.anchor-list {
  ul {
    .active {
      margin: 0 0 0 20px;
      a {
        background: #f0f1f6;
        color: #009ca7;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .triangle {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 20px solid #f0f1f6;
      }
    }
    li {
      display: flex;
      align-items: center;
      a {
        color: rgb(39, 39, 39);
        font-size: 13px;
        padding: 8px 12px;
      }
    }
  }
}

// main page styles
#mainpage {
  main {
    background-color: #f9f9fb;
    padding-top: 67px;
    .main-section-top {
      height: 46vw;
      background-image: url('../img/DSK.webp');
      background-size: cover;
      background-repeat: no-repeat;
      h1 {
        font-weight: 900;
      }
    }
  }

  .firstProduct {
    width: 100%;
    height: 100%;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }

  .university-sec {
    background: white;
    border: 1px solid lightgray;
    padding: 30px 0 0 30px;
    border-radius: 8px;
    .nav-pills {
      .nav-link {
        color: black;
        background: transparent !important;
        background-color: transparent !important;
        border-bottom: 2px solid;
        border-radius: 0;
        margin: 0 10px;
      }
      .nav-link.active {
        color: #009ca7;
        border-color: #009ca7;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  border: 1px solid lightgray;
  padding: 20px !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ffffffcf;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &::after {
    --swiper-navigation-size: 20px;
    color: black;
    font-weight: 900;
  }
}

.offer {
  width: 35px;
  height: 26px;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(180, 20, 116);
  color: rgb(255, 255, 255);
  font-size: 10px !important;
  display: flex;
  align-items: center;
}

.color-pink {
  color: rgb(180, 20, 116);
}

.color-blue {
  color: #009ca7;
}

.swiper-slide {
  figure {
    img {
      width: 75px;
    }
  }
  p {
    font-size: 13px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.study-box {
  // max-width: 460px;
  border: 1px solid rgba(211, 211, 211, 0.612);
  border-radius: 5px;
  align-items: center;
  padding: 30px 10px;
  > figure {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  > div {
    margin-right: 10px;
    h3 {
      font-size: 17px;
      font-weight: 900;
    }
    p {
      font-size: 12px;
      font-weight: 500;
      margin: 15px 0 0;
    }
  }
}

button {
  border: none;
}

.filter-sec {
  max-width: 290px;
}

.collapse-white {
  border: solid 1px #e0e3ec;
  border-radius: 4px;
  button {
    width: 100%;
    justify-content: space-between;
    padding: 10px 21px;
    border-radius: 4px;
    border: solid 1px #e0e3ec;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
  }
  .card.card-body {
    border: none;
    max-height: 200px;
    overflow-y: auto;
  }
}

.procuct-box {
  max-width: 300px;
  border-radius: 5px;
  padding: 0;
  border: 1px solid lightgray;
  z-index: 2;
  &:hover {
    z-index: 4;
    .tooltip-white-parent {
      z-index: 5;
      display: flex;
    }
  }
  .tooltip-white-parent {
    position: absolute;
    width: 140%;
    padding: 20px;
    font-size: 1.25em;
    right: 99%;
    height: 100%;
    display: none;
    .tooltip-white {
      position: absolute;
      background-color: #fff;
      padding: 20px;
      font-size: 1.25em;
      border: solid 1px #e0e3ec;
      box-shadow: 1px 2px 3px 1px #e0e3ec;
      right: 8.5%;
      &::after {
        content: '';
        position: absolute;
        width: 0;
        left: 100%;
        top: 50%;
        height: 0;
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-left: 1em solid #fff;
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
      }
      .tooltip-status {
        font-size: 12px;
        i {
          margin-left: 8px;
        }
      }
      .course-card-extra__title {
        font-size: 18px;
      }
      .course-card-extra__badge {
        display: flex;
        margin-left: 5px;
      }
      .course-card-extra__badge-tri,
      .course-card-extra__badge-tri--plus,
      .course-card-extra__badge-tri--hamayesh {
        width: 0;
        height: 0;
        font-size: 0.875em;
        border-top: 1.0416666667em solid transparent;
        border-bottom: 1.1574074074em solid transparent;
        border-right: 1.0416666667em solid #fb7e34;
      }
      .course-card-extra__badge-tri--plus {
        border-right-color: #009ca7;
      }
      .course-card-extra__badge-text {
        padding: 0 10px;
        height: 2.0833333333em;
        font-size: 0.875em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
      }
      .background-blue {
        background-color: #009ca7;
      }
      .plus {
        > div {
          color: white;
          font-size: 11px;
          padding: 3px 10px;
        }
        ul {
          i,
          a {
            font-size: 12px;
            color: rgb(34, 34, 34);
          }
        }
      }
      .buy {
        span {
          color: #b41474;
        }
        a {
          background: #009ca7;
          color: white;
          font-size: 15px;
          padding: 10px 20px;
          border-radius: 5px;
        }
      }
      .master {
        span {
          font-size: 12px;
        }
      }
    }
  }
  > figure {
    > img {
      width: 100%;
      height: 130px;
    }
  }
  h6 {
    font-size: 15px;
    color: #009ca7;
    line-height: 27px;
  }
  p {
    font-size: 12px;
    color: #7d7d7d;
    font-weight: lighter;
  }
  span {
    font-size: 14px;
    font-weight: bold;
  }
  strong {
    font-size: 16px;
  }
  > div {
    figure {
      img {
        width: 90px;
      }
    }
  }
}

.procuct-box-theme {
  background: #003554 !important;
  h6 {
    color: #db8a40;
  }
  p {
    color: white;
  }
  .offer {
    background-color: #db8a40;
    color: white;
  }
  .color-pink {
    color: #db8a40;
  }
  .fz-12 {
    font-size: 12px;
  }
}

.blue-btn {
  border-radius: 40px;
  color: white;
  background-color: #009ca7;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

// dashboard styles
#dashboard {
  main {
    padding-top: 120px;
  }
}
.user-profile-sidebar {
  border-radius: 5px;

  padding: 20px 0;
  background: #4d4d4d;
  color: #fff;
  margin-bottom: 30px;

  .active {
    background: #404040 !important;
  }
  .nav-link {
    color: #d9d9d9 !important;
    padding: 13px 30px;
    font-size: 14px;
    &:hover {
      background: #404040 !important;
    }
  }
}
.logo {
  width: 50px;
  height: 40px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.with-cube {
  &::before {
    content: '▪';
    margin-left: 10px;
  }
}

.mega-menu {
  padding: 15px 0;
  transition: 0.3s;
  &:hover {
    > ul {
      display: block;
    }
  }
  > ul {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #e0e3ec;
    transition: 0.3s;
    width: 320px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    > ul {
      > li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        background-color: transparent;
        padding: 10px 23px;
        a {
          font-size: 13px;
          color: #000000;
          font-weight: 400;
          margin-right: 10px;
        }
        i {
          font-size: 20px;
        }
      }
    }
    > li {
      &:hover {
        color: #00737c;
        background-color: #fff;
      }
      font-weight: 400;
      cursor: pointer;
      color: #00737c;
      color: rgb(30, 30, 30);
      padding: 10px 25px 10px 10px;
      > ul {
        z-index: 4;
        top: -20px;
        right: 250px;
        display: none;
        > li {
          a {
            color: #707070;
            font-size: 14px;
          }
          div {
            display: none;
          }
        }
      }
    }
  }
}

.mega-menu > ul > li > a > * {
  pointer-events: none;
}

header {
  position: fixed;
  background: white;
  button {
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3em 1.5em;
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    color: white;
    font-size: 13px;
    font-weight: 800;
    margin: 0 5px;
    background-color: #009ca7;
    cursor: pointer;
    border-radius: 0.25em;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
}

.logo-mega-menu {
  border-bottom: 1px solid #dadada;
  margin-bottom: 15px;
  img {
    width: 150px;
    margin: 40px 15px 20px;
  }
}

.button--orange {
  background-color: #fb7e34;
}

.input-groups {
  border: 1px solid #e0e3ec;
  background-color: #f9f9fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 350px;
  input {
    border: none;
    background: transparent;
    width: 100%;
  }
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 900;
    border-right: 1px solid #e0e3ec;
  }
}

footer {
  * {
    color: #7d7d7d;
  }

  background-color: #e0e3ec;
  .inamad {
    width: 85px;
  }
}

.text-gray {
  color: #7d7d7d;
}

.footer-about {
  max-width: 280px;
  > a {
    img {
      width: 150px;
    }
  }
  P {
    font-size: 13px;
    margin-top: 10px;
  }
}

.footer-links {
  ul {
    h4 {
      font-size: 15px;
      font-weight: 600;
      color: black;
      margin-bottom: 16px;
    }
    li {
      margin: 4px 0;
      a {
        font-size: 14px;
      }
    }
  }
}

.footer__socially {
  h6 {
    font-size: 13px;
    color: black;
  }
}

.footer__download-button {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: #3d3d3d;
  color: #fff;
  padding: 5px 20px;
  margin-left: 15px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  width: 180px;
  font-size: 13px;
}

.under-footer {
  border-top: 1px solid lightgray;
  font-size: 12px;

  p {
    margin-bottom: 0;
    color: rgb(0, 0, 0);
  }
}
